
* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; color: rgba(255, 255, 255, 0.932);
    background-color:#688fa5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url(images/tlo1.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: 25%;

}


#profile img{
    border-radius: 50%;
    width: 350px;
    height: 350px;   
    z-index: 1;
    position: relative;
    border: solid 3px #ffffff ;
    background-color: #ffffff;
}


#left {
    border-radius: 25px;
    opacity: 0.5px;
    width: 100%;
    padding: 10px;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
}


#About {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
    border-radius: 25px;
    background-color: rgba(44, 44, 44, 0.863);
    padding: 10px;
    margin-bottom: 20px;
    width: 0%;
    min-width: 60%;
    margin-top: 70px;
    height: 100%;
}

#introduction{
    justify-content: start;
    grid-column: 2;
}
#introduction img{
    justify-content: end;
    justify-items: end;
    align-items: end;
}

#introduction ul{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

#introduction li{
    display: inline-block;
    font-size: large;
}


#pose img{
    height: auto;
}

#pose {
    display: grid;
    justify-content: end;
    grid-column: 1;
}

header {
    position: left;
}


footer{
    font-size: small;
}


hr {
    
    border: dtted 2px #ffffff; 
}



h1{
    font-size: 30px;
    text-align: center;
    
}

h2 {
    font-size: medium;
}
h3{
    font-size: medium;
}

header { 
    align-items: center;
}

#contact {
    text-align: left;
    background-color: rgb(44, 44, 44);
    padding: 0;
    bottom: 0;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

#contact li {
    display: inline-block;
    padding: 10px;
}


a{
    color: white;
}

nav li {
    display: inline-block;
    margin: auto;
    background-color: rgb(44, 44, 44);
    margin-top: 15px;
    margin-bottom: 10px
  }

nav{
    width: 100%;
    background: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    min-width: 0;
    flex-grow: 1;
    margin: 0;
    bottom: 0;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; color: rgba(255, 255, 255, 0.932);
    text-align: center;
    border-bottom: #ffffff solid;
    background-repeat: repeat;
    background-position: center center;
    background-size: 25%;
    background-color: rgb(44, 44, 44);
    background-image: url(images/tlo2.png);
    word-spacing: 10px;
}

nav a:hover{
    color: white;
    background-color:#688fa5;
}

nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.932);
    color: black;
}


@media screen and (max-width: 600px){
    .body{
        background-image:none;
    }
    #About{
        width: 100%;
    }
    .portfolio iframe{
        width: 200px;
        height: 560px;
    }
    model-viewer{ 
        width: 200px;
    }
    .banner{
        background-image: none;
    }
    .portfolio h2{
        font-size: 25px;
  }

}